.data1{
    /* border: 1px solid red; */
    /* height: 200px; */
}
.flexbox {
    display: flex;
    flex-wrap: wrap;
  /*   flex-direction: row; */
  /*   flex-direction: row-reverse; */
  /*   flex-direction: column; */
  /*   flex-direction: column-reverse; */
    padding: 10px;
    height: 100%;
    background: #ccc;
  }
  
  .item {
    flex: 1 0 100px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 20px;
    background-color: #9cf;
  }
