/* ALL */
.bgcolor{
    /*background-color: rgb(227,242,253); */
    background-color: #f0e9df;
 }

/* 導航欄 */
.burger-center{
    text-align:center;
    
}
@media screen and (max-width: 991px){
.navpage{
    border-top:1px rgb(5, 100, 100) solid;
    }
}

/* 輪播欄 */
@media screen and (min-width: 830px){
    .phsize{
        height:600px;
    }
}

.bottom{
    margin-bottom: 50px;
}
/* 師資欄 */
.slogan{
    text-align: center;

}

.logo{
    display: block;
    margin: auto;
}
.block{

    /*border: 1px rgb(222, 226, 230) solid;*/
    text-align: center;
    margin-top: 50px;
    background-color:#f1db90;
}
.title-color{
    background: rgb(180, 255, 255, 0.4);
}
.flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  /*   flex-direction: row; */
    /* flex-direction: row-reverse; */
    /* flex-direction: column; */
  /*   flex-direction: column-reverse; */
    padding: 10px;
    height: 100%;
    /* background: #ccc; */
  }
  
.item {
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 20px;
    /* background-color: #9cf; */
}

.teacher-margin{
      margin: 10px;
}
/* 公佈欄 */
/* .block2{
    margin-top: 50px;
    border: 1px rgb(222, 226, 230) solid;
}
.boardline{
    border:1px rgb(222, 226, 230) solid;
}
.date1{
    border-bottom:1px rgb(222, 226, 230) solid;
} */

.row {

    padding: 10px;
  }
  
  .row > a {

    text-align: center;
  }

  .active{
    background-color:rgb(226, 199, 208);
    border-radius:10% ;
}
.date1{
    background:rgb(226, 199, 208);
    ;
}


/* 成績單 */

/* 聯絡我們 */
.block3{
    /*margin-top: 50px;*/
    /*border-bottom:1px rgb(222, 226, 230) solid; */
   text-align: center;
}

.block3 h2{
    
    /*background-image: url(../IMAGES/family.png);*/
    background-repeat: no-repeat;
   /*padding-top: 63px;*/
   background-position: top-center;
   color: rgb(204, 115, 61);
   display: flex;
   justify-content: center;
   align-items: center;


}
.image1{
   
}
.form-row{  }


.btnsize{
    width: 200px;
    
}

.bg{
    background-image: url(../IMAGES/nick.jpg);
    background-repeat: no-repeat;
    width: 0px auto;

}


/* @media screen and (max-width: 600px){
    .img-viewsize{
        height: 200px;
    }
} */

@media screen and (max-width: px){}